   
    
<div class="w-screen h-screen flex justify-center items-center">
    <div class="flex flex-col max-w-md px-4 py-8 bg-white rounded-lg shadow dark:bg-gray-800 sm:px-6 md:px-8 lg:px-10">
        <div class="self-center mb-2 text-xl font-light text-gray-800 sm:text-2xl dark:text-white">
            Create a new account
        </div>
        <span class="justify-center text-sm text-center text-gray-500 flex-items-center dark:text-gray-400">
            Already have an account ?
            <a class="text-sm text-blue-500 underline hover:text-blue-700" href="/login">Log in</a>
        </span>
        <div class="p-6 mt-8">
        	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        	<%= csrf_meta_tags %> 
        	      <%= render 'shared/error_messages' %>

            <form class="new_user" id="new_user" action="/users" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="rzbHplFrpylxO18olr9jbV4hgiQFlLwdZu_wK59QMDYozw9ZiRqLiDwqD-H1NMS1OHfeK757_1ejjaTokDWwKw" />
                <div class="flex flex-col mb-2">
                    <div class=" relative ">
                        <input value="" class="rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-green-600 focus:border-transparent" placeholder="Name" type="text" name="user[name]" id="user_name" />
                    </div>
                </div>
                <div class="flex flex-col mb-2">
                    <div class=" relative ">
                        <input value="" class="rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-green-600 focus:border-transparent" placeholder="Email" type="email" name="user[email]" id="user_email" />
                    </div>
                </div>
                <div class="flex flex-col mb-2">
                    <div class=" relative ">
                        <input value="" class="rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-green-600 focus:border-transparent" placeholder="Password" type="password" name="user[password]" id="user_password" />
                    </div>
                </div>
                <div class="flex flex-col mb-2">
                    <div class=" relative ">
                        <input value="" class="rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-green-600 focus:border-transparent" placeholder="Confirm password" type="password" name="user[password_confirmation]" id="user_password_confirmation" />
                    </div>
                </div>
                <div class="flex w-full my-4">
                    <input type="submit" name="commit" value="Sign up" class="py-2 px-4  bg-green-600 hover:bg-green-700 focus:ring-green-500 focus:ring-offset-green-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg" data-disable-with="Sign up" />
                </div>
</form>        </div>
    </div>
</div>
