<div class="border-l pl-4">
    <div class="mb-8">
        <%= link_to url, target: "_blank", class: "text-lg font-bold" do  %>
            <%= title %>
        <%end%>
        <p class="text-sm font-semibold"><%= tech_stack %></p>
        <div class="whitespace-pre-line"><%= description %></div>
    </div>
</div>